[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
awsebcli = "*"
backports-zoneinfo = "*"
factory-boy = "*"

[dev-packages]

[requires]
python_version = "3.8"
